// Colors
$primary-color: #97CE10;
$secondary-color: #2677C1;
$ternary-color: #018AD2;
$grey-color: rgb(129, 129, 129);
$error-color: #FF0000;

// Fonts
$f-xxs: 1.2rem;
$f-xsm: 1.4rem;
$f-sm: 1.6rem;
$f-md: 1.8rem;

// Margins
$m-xs: 1.2rem;
$m-sm: 1.6rem;
$m-md: 2rem;
$m-lg: 2.4rem;
$m-xl: 3.6rem;
$m-xxl: 4.8rem;
$m-2xl: 5.6rem;

// Paddings
$p-sm: 1.6rem;
$p-md: 2rem;
$p-lg: 2.4rem;
$p-xl: 3.6rem;
$p-xxl: 4.8rem;
$p-2xl: 5.6rem;